<header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
          </button>
          <a href="index.html" class="navbar-brand"><img src="assets/img/LoGoNew.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
            <li class="nav-item active">
              <a class="nav-link" href="#hero-area">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#resume">
                Resume
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Skill">
                Skill
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#contact">
                Contact
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="onepage-nev mobile-menu">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about">about</a>
        </li>
        <li>
          <a href="#resume">resume</a>
        </li>
        <li>
          <a href="#Skill">Skill</a>
        </li>
        <li>
          <a href="#portfolio">Work</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <!-- Mobile Menu End -->
    </nav>
    <!-- Navbar End -->

    <!-- Hero Area Start -->
    <div id="hero-area" class="hero-area-bg">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <div class="contents">
              <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hello! ^^</h5>
              <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Nathawat Nampeng</h2>
              <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Full Stack, Back-end, Front-end and tester</p>
              <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                <!-- <li>
                  <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                </li> -->
                <li>
                  <a class="github" href="https://github.com/Maztermon"><i class="icon-social-github"></i></a>
                </li>
                <!-- <li>
                  <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </li> -->
                <li>
                  <a class="linkedin" href="https://www.linkedin.com/in/nathawat-nampeng/"><i class="icon-social-linkedin"></i></a>
                </li>
                <!-- <li>
                  <a class="google" href="#"><i class="icon-social-google"></i></a>
                </li> -->
              </ul>
              <div class="header-button wow fadeInUp" data-wow-delay="1s">
                <a href="#contact" class="btn btn-common">Get a Free Quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->

  </header>