<head>

</head>

<body>
    <h1>
        <%=username%>
    </h1>
    <ul>
        <% customer.map((i)=>{ %>
            <li>
                <%=i%>
            </li>
            <% }) %>
    </ul>

</body>