<%- include('../views/head')  %>
  <body>

    <!-- Header Area wrapper Starts -->
    <%- include('../views/header')  %>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="assets/img/about/PhotoOne01.jpg" alt="">
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3> สวัสดีครับ </h3>
              <p>ผมชื่อไดม่อนครับ สนใจที่จะเป็น DEV คือเคยทำมาก่อนแล้วในสายงานตอนนี้ไม่ค่อยได้ DEV แล้ว ผมเป็นคนที่ขยัน พร้อมที่จะเรียนรู้สิ่งใหม่ๆอยู่เสมอ 
               ชอบพัฒนาสกิลตนเอง เลยอยากจะหาสายงานในด้านนี้ </p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Nathawat Nampeng</span></li>
                  <li><span class="pro-title"> NickName </span> <span class="pro-detail">Diamond</span></li>
                  <li><span class="pro-title"> Age </span> <span class="pro-detail">25 Years</span></li>
                  <li><span class="pro-title"> Experience </span> <span class="pro-detail">3 Years</span></li>
                  <li><span class="pro-title"> Country </span> <span class="pro-detail">Thailand</span></li>
                  <li><span class="pro-title"> Location </span> <span class="pro-detail">Bankkok</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">maztermoon@gmail.com</span></li>
                  <li><span class="pro-title"> Phone </span> <span class="pro-detail">0918684208</span></li>
                </ul>
              </div>
              <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
              <a href="#contact" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Kasetsart University Chalermphrakiat Sakon Nakhon Province Campus</h3>
                    <span>2016 - 2020</span>
                    <p class="line-text">Degree: Bachelor of Engineering|Computer Engineering</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Thatnaraiwittaya School - Sakon Nakhon</h3>
                    <span>2010 - 2016</span>
                    <p class="line-text">Major: Sci-Math</p>
                  </div>
                </li>
                
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Report-Programmer</h3>
                    <span>บริษัท บางกอกเบียร์แอนด์เบเวอร์เรจ จำกัด|June 2021 - Present</span>
                    <p class="line-text">ทำระบบ Odoo ในส่วนนี้ได้รับหน้าที่ให้จัดทำ Report ตามความต้องการของคนในบริษัท ใช้ SQL เพื่อให้ได้ผลลัพธ์ของคิวรีที่ตรงจุด Database ที่ใช้จะเป็น PostgreSQL โดยใช้โปรแกรม Jasper Report ในการเขียน แล้วก็จะมีการ Test จะเป็นการ Manual test เพื่อทดสอบระบบ โดยจะมีการสร้าง Test Case และทำการทดสอบตาม Test Case ที่สร้างไว้ แล้วจัดทำ Report Test </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">PHP-Programmer</h3>
                    <span>บริษัท บางกอกเบียร์แอนด์เบเวอร์เรจ จำกัด|May 2020 - February 2021</span>
                    <p class="line-text">ทำเว็บระบบ เช็คสต๊อกสินค้าในคลังสินค้า และใช้ตรวจสอบสินค้าที่มีอยู่ในระบบกับของจริง โดยใช้ PHP ควบคู่กับ HTML/CSS </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Intern Programmer</h3>
                    <span>บริษัท เน็ต ดีไซน์โฮสต์จํากัด(www.netdesignhost.com)|June 2019 - July 2019</span>
                    <p class="line-text">ทำระบบ Template ของเว็บไซต์ ShopUp
                      ระบบ Template เป็นระบบสำหรับแสดงหน้าตาของเว็บไซต์ (Layout) ซึ่งมีหลายรูปแบบแล้วแต่ตวามต้องการ และ Concept ของเว็บไซต์ลูกค้า ซึ่งการพัฒนาและโปรแกรมระบบ Template จะได้เรียนรู้การเขียนโปรแกรมโดยใช้ภาษา PHP และ JavaScript โดยจะใช้ในการพัฒนาระบบต่างๆ บนเว็บไซต์ที่แสดงให้ผู้เข้าชมเว็บไซต์ได้เห็นและใช้งาน อาทิเช่น ระบบสินค้า, ระบบบทความ เป็นต้น รวมถึงเทคนิคในการเขียนโปรแกรมโดยใช้ภาษา PHP ในรูปแบบต่างๆ อาทิเช่น การเชื่อมไฟล์ (include), การวนลูป (For-Loop), การดึงค่าตัวแปรต่างๆ มาใช้งานคู่กับ HTML เป็นต้น</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Skill Section Start -->
    <section id="Skill" class="Skill section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">Skill</h2>
      <div class="container">
        <div class="row">
          <!-- Skill item -->
          <div class="col-md-6 col-lg-20 col-xs-12">
            <div class="Skill-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <i class="icon-doc"></i>
              </div>
              <div class="Skill-content">
                <h3><a href="#">Language & Framework</a></h3>
                <p>• Python &nbsp; • PHP &nbsp; • HTML &nbsp; • CSS &nbsp; • Javascript &nbsp; • NodeJS &nbsp; • SQL &nbsp; • PostgreSQL <br>
                   • MangoDB &nbsp; • ExpressjS &nbsp; • React &nbsp; • VueJS &nbsp; • Django &nbsp; • Laravel &nbsp; • Docker  
                  </p>
              </div>
            </div>
          </div>
          
          <!-- Skill item -->
          <div class="col-md-6 col-lg-20 col-xs-12">
            <div class="Skill-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-grid"></i>
              </div>
              <div class="Skill-content">
                <h3><a href="#">General</a></h3>
                <p>• Adobe Photoshop &nbsp; • Adobe Lightroom &nbsp; • Adobe Premiere Pro &nbsp; • Google Data Studio &nbsp; <br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Skill Section End -->

    
    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">      
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
            
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>Contact Address</h2>
                <div class="footer-right-contact">

                    
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Bankkok, Thailand</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:maztermoon@gmail.com">maztermoon@gmail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">0918684208</a></p>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6">
            <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8760.41093534574!2d100.53777237130141!3d13.824329313583926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29c7df1a7737f%3A0x9d4d867c38b2d664!2zTWV0cm8gU2t5IFByYWNoYWNodWVuIOC5gOC4oeC5guC4l-C4oyDguKrguIHguLLguKIg4Lib4Lij4Liw4LiK4Liy4LiK4Li34LmI4LiZ!5e0!3m2!1sth!2sth!4v1678982454251!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></object>
            </div>
          </div>
        </div>
      </div>   
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <%- include('../views/footer')  %>
    <!-- Footer Section End -->

    
